#UsrHome-Row-1 {
  height: 70px;
}
#UsrHome-Col-1 {
  color: black;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 1.5px;
}
#UsrHome-Profile-Icon {
  margin-left: 20px;
}
#UsrHome-NavBar-Row {
  height: 70px;
}
#UsrHome-NavBar-Col {
}
#UsrHome-NavBar-Options {
}
#UsrHome-NavBar-Options a {
  color: black;
  text-decoration: none;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-size: 15px;
  font-style: normal;
}
