#login-row {
  height: 75px;
}

#login-col {
  cursor: pointer;
  color: black;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 1.5px;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 10%,
    rgba(9, 9, 117, 1) 44%,
    rgba(9, 9, 121, 1) 55%,
    rgba(8, 39, 141, 1) 72%,
    rgba(7, 62, 156, 1) 78%,
    rgba(6, 82, 169, 1) 86%,
    rgba(2, 160, 221, 1) 98%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#login-row-2 {
  min-height: 100vh;
  background: url(./PixelHeart.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#login-col-2 {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

#login-footer-row {
  height: 30px;
}
#login-footer-col-1 a {
  cursor: pointer;

  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11.5px;
  text-decoration: none;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 10%,
    rgba(9, 9, 117, 1) 44%,
    rgba(9, 9, 121, 1) 55%,
    rgba(8, 39, 141, 1) 72%,
    rgba(7, 62, 156, 1) 78%,
    rgba(6, 82, 169, 1) 86%,
    rgba(2, 160, 221, 1) 98%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#login-footer-col-2 a {
  cursor: pointer;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11.5px;
  text-decoration: none;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 10%,
    rgba(9, 9, 117, 1) 44%,
    rgba(9, 9, 121, 1) 55%,
    rgba(8, 39, 141, 1) 72%,
    rgba(7, 62, 156, 1) 78%,
    rgba(6, 82, 169, 1) 86%,
    rgba(2, 160, 221, 1) 98%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#login-footer-col-3 a {
  cursor: pointer;

  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11.5px;
  text-decoration: none;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 10%,
    rgba(9, 9, 117, 1) 44%,
    rgba(9, 9, 121, 1) 55%,
    rgba(8, 39, 141, 1) 72%,
    rgba(7, 62, 156, 1) 78%,
    rgba(6, 82, 169, 1) 86%,
    rgba(2, 160, 221, 1) 98%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
